COMMERCIAL;
rvl_alias "clock" "clock";
# @DEFINE $original ;
#
# BLOCK JTAGPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG DONE_OD=ON DONE_EX=OFF CONFIG_SECURE=OFF WAKE_UP=21 WAKE_ON_LOCK=OFF INBUF=ON MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=ENABLE MY_ASSP=OFF ONE_TIME_PROGRAM=OFF ;
#
# FREQUENCY NET "XtalClock_i" 50.000000 MHz ;
#
#-------------------------------------------------
#  Reset
#-------------------------------------------------
@IFDEF $original;
LOCATE COMP "ResetSwitch_ni" SITE "19" ;
@ELSE ;
LOCATE COMP "ResetSwitch_ni" SITE "47" ;
@ENDIF ;
#
#-------------------------------------------------
#  System Clock
#-------------------------------------------------
LOCATE COMP "XtalEnable_o" SITE "22" ;
LOCATE COMP "XtalClock_i" SITE "21" ;
#
#-------------------------------------------------
#  Switch Interface
#-------------------------------------------------
LOCATE COMP "switch_0" SITE "58" ;
LOCATE COMP "switch_1" SITE "57" ;
LOCATE COMP "switch_2" SITE "56" ;
LOCATE COMP "switch_3" SITE "55" ;
LOCATE COMP "switch_4" SITE "54" ;
LOCATE COMP "switch_5" SITE "53" ;
LOCATE COMP "switch_6" SITE "52" ;
LOCATE COMP "switch_7" SITE "50" ;
#
#-------------------------------------------------
#  LED Interface
#-------------------------------------------------
LOCATE COMP "led_0" SITE "46" ;
LOCATE COMP "led_1" SITE "45" ;
LOCATE COMP "led_2" SITE "44" ;
LOCATE COMP "led_3" SITE "43" ;
LOCATE COMP "led_4" SITE "40" ;
LOCATE COMP "led_5" SITE "39" ;
LOCATE COMP "led_6" SITE "38" ;
LOCATE COMP "led_7" SITE "37" ;
#
#-------------------------------------------------
#  RS232 Interface
#-------------------------------------------------
LOCATE COMP "rx" SITE "110" ;
LOCATE COMP "tx" SITE "109" ;
#
#-------------------------------------------------
#  Flash Interface
#-------------------------------------------------
@IFDEF $original;
LOCATE COMP "spi_csn" SITE "11" ;
LOCATE COMP "spi_miso" SITE "16" ;
LOCATE COMP "spi_mosi" SITE "15" ;
LOCATE COMP "spi_sxtalClock" SITE "13" ;
LOCATE COMP "holdn" SITE "17" ;
LOCATE COMP "wn" SITE "18" ;
@ELSE ;
LOCATE COMP "spi_csn" SITE "15" ;
LOCATE COMP "spi_miso" SITE "18" ;
LOCATE COMP "spi_mosi" SITE "19" ;
LOCATE COMP "spi_sxtalClock" SITE "16" ;
LOCATE COMP "holdn" SITE "17" ;
LOCATE COMP "spi_cssn" SITE "11" ;
@ENDIF ;
#
#-------------------------------------------------
#  SRAM Interface
#-------------------------------------------------
LOCATE COMP "SRAM_Addr_o_0" SITE "119" ;
LOCATE COMP "SRAM_Addr_o_1" SITE "120" ;
LOCATE COMP "SRAM_Addr_o_2" SITE "121" ;
LOCATE COMP "SRAM_Addr_o_3" SITE "122" ;
LOCATE COMP "SRAM_Addr_o_4" SITE "123" ;
LOCATE COMP "SRAM_Addr_o_5" SITE "124" ;
LOCATE COMP "SRAM_Addr_o_6" SITE "125" ;
LOCATE COMP "SRAM_Addr_o_7" SITE "127" ;
LOCATE COMP "SRAM_Addr_o_8" SITE "129" ;
LOCATE COMP "SRAM_Addr_o_9" SITE "130" ;
LOCATE COMP "SRAM_Addr_o_10" SITE "131" ;
LOCATE COMP "SRAM_Addr_o_11" SITE "132" ;
LOCATE COMP "SRAM_Addr_o_12" SITE "133" ;
LOCATE COMP "SRAM_Addr_o_13" SITE "134" ;
LOCATE COMP "SRAM_Addr_o_14" SITE "137" ;
LOCATE COMP "SRAM_Addr_o_15" SITE "138" ;
LOCATE COMP "SRAM_Addr_o_16" SITE "141" ;
LOCATE COMP "SRAM_Data_io_0" SITE "1" ;
LOCATE COMP "SRAM_Data_io_1" SITE "2" ;
LOCATE COMP "SRAM_Data_io_2" SITE "5" ;
LOCATE COMP "SRAM_Data_io_3" SITE "6" ;
@IFDEF $original;
LOCATE COMP "SRAM_Data_io_4" SITE "7" ;
LOCATE COMP "SRAM_Data_io_5" SITE "8" ;
LOCATE COMP "SRAM_Data_io_6" SITE "9" ;
@ELSE ;
LOCATE COMP "SRAM_Data_io_4" SITE "70" ;
LOCATE COMP "SRAM_Data_io_5" SITE "71" ;
LOCATE COMP "SRAM_Data_io_6" SITE "72" ;
@ENDIF ;
LOCATE COMP "SRAM_Data_io_7" SITE "10" ;
LOCATE COMP "SRAM_CE_no" SITE "142" ;
LOCATE COMP "SRAM_OE_no" SITE "143" ;
LOCATE COMP "SRAM_WE_no" SITE "144" ;
#
#-------------------------------------------------
#  Expansion Header 1 Interface (J4)
#-------------------------------------------------
LOCATE COMP "input_1" SITE "87" ;
LOCATE COMP "input_2" SITE "88" ;
LOCATE COMP "input_3" SITE "89" ;
LOCATE COMP "input_4" SITE "90" ;
LOCATE COMP "input_5" SITE "91" ;
LOCATE COMP "input_6" SITE "92" ;
LOCATE COMP "input_7" SITE "93" ;
LOCATE COMP "input_8" SITE "94" ;
LOCATE COMP "input_9" SITE "96" ;
LOCATE COMP "input_10" SITE "98" ;
LOCATE COMP "input_11" SITE "99" ;
LOCATE COMP "input_12" SITE "100" ;
LOCATE COMP "input_13" SITE "101" ;
LOCATE COMP "input_14" SITE "102" ;
LOCATE COMP "input_15" SITE "103" ;
LOCATE COMP "input_16" SITE "104" ;
LOCATE COMP "input_17" SITE "107" ;
LOCATE COMP "input_18" SITE "108" ;
LOCATE COMP "input_19" SITE "73" ;
LOCATE COMP "input_20" SITE "74" ;
LOCATE COMP "input_21" SITE "77" ;
LOCATE COMP "input_22" SITE "78" ;
LOCATE COMP "input_23" SITE "113" ;
LOCATE COMP "input_24" SITE "114" ;
LOCATE COMP "input_25" SITE "115" ;
LOCATE COMP "input_26" SITE "116" ;
LOCATE COMP "input_27" SITE "61" ;
LOCATE COMP "input_28" SITE "62" ;
LOCATE COMP "input_29" SITE "65" ;
LOCATE COMP "input_30" SITE "66" ;
LOCATE COMP "input_31" SITE "69" ;
#
#-------------------------------------------------
#  Expansion Header 2 Interface (J2)
#-------------------------------------------------
LOCATE COMP "J2_0" SITE "31" ;
LOCATE COMP "J2_1" SITE "32" ;
LOCATE COMP "J2_2" SITE "27" ;
LOCATE COMP "J2_3" SITE "35" ;
LOCATE COMP "J2_4" SITE "28" ;
LOCATE COMP "J2_5" SITE "36" ;
LOCATE COMP "J2_6" SITE "29" ;
LOCATE COMP "J2_7" SITE "30" ;
#
#-------------------------------------------------
#
#-------------------------------------------------
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS;
